/*liens*/
a {
  color: #eb6245;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #eb6245;
  text-decoration: underline;
}

/* bandeau */

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eb6245;
  opacity: 1;
}

/*header*/
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: #f9cbbd;
}

  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color:  #f9cbbd;
  }
  
  /*liste de posts*/
  .post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #eb6245;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #eb6245;
}

/* bouton principal*/
.btn-primary {
  color: #f9cbbd;
  background-color: #eb6245 ;
  border-color: #eb6245;
}
.btn-primary:hover {
  color: #f9cbbd;
  background-color: #ab6b60;
  border-color: #ab6b60;
}
.btn-primary:focus, .btn-primary.focus {
color: #f9cbbd;
  background-color:#ab6b60:
  border-color: #ab6b60;
  box-shadow: 0 0 0 0.2rem rgba(38.25, 151.3, 175.1, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #f9cbbd;
  background-color:#eb6245;
  border-color:#eb6245;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #f9cbbd;
  background-color:#ab6b60;
  border-color: rgb(0, 80.3369565217, 97.25);
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38.25, 151.3, 175.1, 0.5);
}


/*bouton lien*/
.btn-link {
  font-weight: 400;
  color: #0085A1;
  text-decoration: none;
}
.btn-link:hover {
  color: rgb(0, 69.8043478261, 84.5);
  text-decoration: underline;
}
